# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Entornos Virtuales
venv/
.venv/
ENV/
env/

# Variables de entorno y secretos
.env
*.local.env

# Pruebas y Cobertura
.pytest_cache/
.coverage
htmlcov/

# Logs y Temporales
*.log
tmp/
temp/

# IDEs y Editores
.vscode/
.idea/
*.swp
*.swo

# Sistema Operativo
Thumbs.db
Desktop.ini
.DS_Store
